.contacts-list {
  display: flex;
}

.current::after {
  display: block;
}
/*section 1*/

.intro-title {
  margin-bottom: 48px;
}
/*section2*/

.features {
  padding: 120px 0;
}

.features-list {
}

.features-item {
  flex-basis: calc((100% - 24px * 3) / 4);
}

.features-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-align: start;
}
.features-img {
  display: flex;
}

/*section 3*/

.work {
  display: block;
}

/*section4*/
.team-container {
  max-width: 1158px;
}

/*section5*/

.customer-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers {
  max-width: 1158px;
}

.customer-list {
  flex-wrap: nowrap;
  justify-content: space-between;
}

/*footer*/
.footer {
}

.footer-container {
  flex-wrap: nowrap;
  justify-content: center;
}

.footer-container-logo {
  margin-right: 120px;
  margin-bottom: 0;
}

.footer-social-media {
  margin-right: 80px;
  min-width: 208px;
}

.footer-subscribe {
  max-width: 100%;
  margin-left: 80px;
}

/*portfolio*/
.portfolio-container {
  padding-top: 100px;
  padding-bottom: 120px;
}

.portfolio-list {
  margin-bottom: 72px;
}

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-info {
  flex-basis: auto;
}
