.container {
  max-width: 768px;
}
.header {
  padding: 0;
}
.header-nav-list {
  justify-content: center;
}

.header-nav-list {
  display: flex;
}

.logo {
  margin-right: 120px;
}
.contacts {
  display: block;
}

.contacts-list {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.contacts-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.menu-toggle {
  display: none;
}

/*Section1*/
.intro {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-tablet.jpg);
  max-width: 768px;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .intro {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet@2x.jpg);
  }
}

.intro-title {
  margin-bottom: 36px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
}

/*section2*/

.features-list {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.features-item {
  flex-basis: calc((100% - 24px) / 2);
}

.features-item-title {
  text-align: start;
}

.features-item-info {
  font-weight: 500;
}

/*section 4*/
.team-container {
  max-width: 768px;
}

.card-set {
  row-gap: 64px;
  column-gap: 24px;
}

/*section 5*/
.customers {
  width: 584px;
}

.customer-list {
  gap: 72px 24px;
}
.customer-logo-item {
  width: calc((100% - 24px * 2) / 3);
  height: 88px;
}

.customer-icon {
  width: 104px;
  height: 56px;
}

/*footer*/
.footer-subscribe {
  width: unset;
}

.footer-container {
  justify-content: start;
  align-items: baseline;
  flex-direction: row;
  max-width: 584px;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.footer-container-logo {
  display: block;
}

.footer-social-media-title {
  text-align: inherit;
}

.footer-subscribe-title {
  text-align: start;
}

.footer-form {
  flex-direction: row;
  gap: 24px;
}

.footer-form-input {
  min-width: 264px;
  height: 40px;
  margin-bottom: 0;
}

/*portfolio*/
.portfolio-container {
  padding-top: 64px;
  padding-bottom: 96px;
}

.portfolio-list {
  justify-content: center;
  gap: 24px;
  margin-bottom: 64px;
}

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.portfolio-info {
  flex-basis: calc((100% - 24px) / 2);
}
